html, body {
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden; /* Csúszka elrejtése a főoldalról */
}

.header {
    background-color: #E63950;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 40px); /* A margin méretének figyelembe vétele */
    height: 80px;
    z-index: 1000;
    margin-left: 20px;
    margin-right: 20px;
}

.header img {
    height: 50px;
    margin-right: 10px;
}

.content {
    padding: 20px;
    padding-top: 100px; /* Pont a header alá kerül */
    box-sizing: border-box;
    height: calc(100% - 140px); /* A header és az oldalsó margin magasságának levonása */
    overflow: auto; /* Görgethető tartalom */
}

.table-container {
    width: 100%;
    max-width: 100%; /* Maximális szélesség 90%-a a kijelzőnek */
    margin: 0 auto; /* Középre igazítás */
    height: calc(100% - 40px); /* Marginok figyelembe vétele */
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: auto; /* Görgethető konténer */
    box-sizing: border-box;
}

.special-row {
    background-color: #E63950 !important;
    color: white !important;
    font-weight: bold;
    border-bottom: 4px solid black !important;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background: #fff; /* Táblázat háttér beállítása */
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #E63950;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.loading {
    font-size: 18px;
    color: #E63950;
    margin-top: 20px;
}
