body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    text-align: center;
}

.header {
    background-color: #E63950;
    padding: 5px; /* Csökkentett méret */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header img {
    height: 100px; /* Csökkentett méret */
    margin-right: 15px;
}

.table-container {
    width: 100vw; /* Teljes szélesség */
    height: 100vh; /* Teljes magasság */
    max-width: 100%; /* Biztosítja, hogy ne legyen kisebb */
    max-height: 100%; /* Teljes magasság engedélyezése */
    margin: 0; /* Középre helyezés eltávolítása */
    padding: 20px;
    overflow: auto; /* Görgetés engedélyezése, ha szükséges */
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute; /* Teljesen kitölti az ablakot */
    top: 0;
    left: 0;
}

/* Egyéb Projekt és Menü sorok kiemelése */
.special-row {
    background-color: #E63950 !important;
    color: white !important;
    font-weight: bold;
    border-bottom: 4px solid black !important;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #E63950;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #ddd;
}

.loading {
    font-size: 18px;
    color: #E63950;
    margin-top: 20px;
}
