body {
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px; /* Margin hozzáadása a kijelző szélein */
    text-align: center;
    box-sizing: border-box; /* Padding és border beleértése a teljes méretbe */
}

.header {
    background-color: #E63950;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 40px); /* A margin méretének figyelembe vétele */
    height: 80px;
    z-index: 1000;
}

.header img {
    height: 100px;
    margin-right: 15px;
}

.table-container {
    width: calc(100% - 40px); /* Teljes szélesség a margin figyelembevételével */
    height: calc(100vh - 120px); /* A header és az oldalsó margin magasságának levonása */
    overflow: auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 100px; /* Pont a header alá kerül */
    left: 50%;
    transform: translateX(-50%);
    padding: 20px; /* Margin az oldal alján */
}

.special-row {
    background-color: #E63950 !important;
    color: white !important;
    font-weight: bold;
    border-bottom: 4px solid black !important;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #E63950;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.loading {
    font-size: 18px;
    color: #E63950;
    margin-top: 20px;
}
